/*
  Jenny Rong
  Date: Oct 30, 2019
  Section: CSE 154, AC
  This is the styles.css page for index.html. It is to create a consistant look overall.
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: #c0e3e7;
  text-align: center;
}

h1 {
  font-size: 48px;
}

h2 {
  border-bottom: 1px solid grey;
}

body {
  font-family: "Quicksand", sans-serif;
  background: url("img/tri.jpg");
  background-position: center;
  background-attachment: fixed;
  width: 80%;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 13px;
}

body, #bar {
  margin-left: auto;
  margin-right: auto;
}

#center {
  background-color: white;
  height: 500px;
}

#bar {
  display: flex;
  justify-content: space-evenly;
  background-color: #c0e3e7;
  padding: 12px;
  border-radius: 10px;
  width: 500px;
}